server:
  port: 8002
spring:
  data:
    redis:
      host: 8.137.33.37
      port: 6379
  datasource:
    username: root
    password: yzh@0421
    url: jdbc:mysql://8.137.33.37:3306/shortLink?characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&serverTimezone=GMT%2B8
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-test-query: select 1
      connection-timeout: 20000
      idle-timeout: 300000
      maximum-pool-size: 5
      minimum-idle: 5